#super{
	width:960px;		
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
}

#wrapper{
	border: 1px solid gray;
	padding-bottom: 50px;
	overflow: hidden;
	background-color: white;
}

body{
	font-family:  Helvetica, Verdana, Geneva, Arial, sans-serif;
	background: #F2F2F2;
}


h3{
	font-size: 17px;
	margin-bottom: 5px;
	margin-top: 2px;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: #005BBE;
}

#header{
	padding-left: 10px;
	width:100%;
}

#header > #logo > h1 > a, #right_content > ul > li > a, .article > a, .article > p > a{
	color: #3068a2;
	font-weight: bold;
}

.highlights{
	width: 250px;
	padding: 10px;
	margin-left: 25px;
	margin-right: 20px;
	border-bottom: solid 1px gray;
	float: left;
	height: 250px;	
}

.highlights > p, .story > p, li{
	margin: 0px;
	padding-top: 10px;
}

li{
	margin: 0px;
	padding-top: 3px;
}

ul{
	margin-top: 5px;	
}

.highlights > p > a:link, .highlights > p > a:visited, .story > p > a:link, .story > p > a:visited{
	text-decoration: none;
	font-weight: bold;
	color: #005BBE;
}

.highlights > h2, .story > h2{
	font-size: 21px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: -1px;
	margin-bottom: 5px;
}


.story > img{
	border: 1px solid gray;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
}

.story{
	width: 500px;
	margin: 0px auto;
	float: left;	
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
}

.date{
	font-size: 12px;
	padding-bottom: 10px;	
}

#nav{
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background-color: #8B8989;
	padding-top: 20px;
	padding-bottom: 10px;
	text-transform: uppercase; 
	line-height: 1em;
	font-size: 20px;
	text-align: left;
	font-family: ff-din-web-condensed,helvetica,sans-serif;	
}



#about{
	float: left;
	padding-left: 10px;
	padding-right: 30px;	
	
}

#courses, #programming, #projects, #blog{
	float: left;
	padding-right: 30px;
}


p{
	font-size: 14px;	
	line-height: 20px;
	margin: 10px;
	color: #333;
}


#footer{		
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
	font-size: 12px;
}

#footer > a{
	font-weight: bold;
	color: #005BBE;
}

#construction{
	font-size: 15px;
	color: black;
}

#login{
	margin-left: 370px;
	margin-top: 40px;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}
.button:active {
	position:relative;
	top:1px;
}

#fail, #success{
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 0px;
	color: red;
}

#success{
	color: green;
}

#logo{
	float: left;
	width: 500px;
	margin-top: 5px;
}

#search_box{
	float:right;
	padding-right: 75px;
	padding-top: 20px;
	
}

#search_text{
	width: 250px;
	height: 30px;
	font-weight: bold;
	padding-left: 10px;
	font-size: 12px;
}

#center{
	float:left;
}

#content{
	padding-top: 5px;
	width: 100%;
}

#left_content{
	width: 580px;
	float:left;
	padding: 20px 10px;
	margin-left: 10px;
}



#right_content{
	width: 300px;
	float: left;
	padding-top: 40px;
	padding-left: 30px;
	border-left: solid 1px gray;
}

#right_content > h3{
	font-size: 15 px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: -1px;
	margin-bottom: 5px;
}

#update{
	float: left;
	margin-top: 40px;
	margin-left: 350px;
}

.article{
	margin-top: 20px;
}
